.main {
  /* border: 2px solid red; */
  padding-bottom: 56px;
}

.container {
  display: flex;
  margin-inline: auto;
  max-width: 1200px;
  gap: 55px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  width: 690px;
  flex-shrink: 0;
}

.tagsContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tagsContainer span {
  font-size: 12px;
  padding: 0 13px;
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 5px;
}

.leftContainer {
  flex-grow: 1;
}

.imageContainer {
  background-color: var(--fb-color);
  min-height: 380px;
  max-height: 480px;
  overflow-y: scroll;
}

.imageContainer img {
  display: block;
  width: fit-content;
  height: auto;
  min-height: 380px;
  width: 100%;
}

.imageCaption {
  padding: 5px 0;
  font-size: 13px;
  color: var(--secondary-text);
}

.createdAtContainer {
  font-size: 13px;
}

.contentContainer {
  padding: 21px 0;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.content {
  display: flex;
  flex-direction: column;
}

/* Blocks Renderer from strapi*/
.content p {
}
.content h1 {
  font-size: 34px;
}
.content h2 {
  font-size: 24px;
}
.content a {
  color: var(--accent);
}
.content ul {
  list-style-position: inside;
}
.content img {
  object-fit: cover;
  height: auto;
  width: 100%;
  border-radius: 11px;
}

.socialLinks {
  margin-top: 21px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  direction: ltr;
  font-weight: 500;
  border: 1px solid var(--border);
  padding: 24px 12px;
  border-radius: 12px;
}

.socialLinksText {
  display: flex;
  align-items: center;
  margin-left: 21px;
  font-weight: 600;
  gap: 2px;
}

.socialLinks a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 21px;
  border: 1px solid #fff;
}

.socialLinks a img {
}

.socialLinks a:hover {
  border: 1px solid var(--border);
}

.moreNewsSection {
  margin-top: 21px;
}

/*  Responsivness  */
/*  */
/*  */
/*  */
/* >= small desktop  */
@media screen and (max-width: 1024px) {
  .container {
    gap: 0;
  }
  .leftContainer {
    padding: 0;
  }
}
/* <=Tablet */
@media screen and (max-width: 959px) {
  .main {
    padding-top: 21px;
  }
  .container {
    padding: 0;
    flex-direction: column;
  }
  .rightContainer {
    max-width: 100%;
    width: 100%;
  }
  .leftContainer {
    padding: 0;
    max-width: 100%;
  }

  .imageContainer {
    max-width: 100%;
  }
  .imageCaption {
    padding: 5px 16px;
  }
  .mainContainer {
    max-width: 100%;
  }
  .contentContainer {
    padding: 16px;
  }
}
/* <=phone */
@media screen and (max-width: 767px) {
  .contentContainer {
    padding: 0 13px;
  }
  .socialLinks {
    justify-content: center;
    gap: 5px;
    border: none;
    padding: 0;
  }
  .socialLinks a:hover {
    scale: 1;
  }
  .socialLinksText img {
    display: none;
  }
}
