.adContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  border-radius: 13px;
  overflow: hidden;
  max-width: 377px;
  margin-top: 13px;
  background-color: var(--fb-color);
}

.adContainer img {
  max-width: 200px;
  height: 100%;
}

.ad_300_600,
.ad_250_600,
.ad_250_250 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ad_300_600 {
  min-height: 600px;
  max-width: 300px;
}

.ad_250_600 {
  min-height: 600px;
  max-width: 250px;
}

.ad_250_250 {
  min-height: 250px;
  max-width: 250px;
}
