.content {
  max-width: 900px;
  margin-inline: auto;
  padding: 55px 8px;
}
.content h1 {
  padding: 13px 0;
  color: var(--secondary-text);
}
.links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}
.links a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  background-color: var(--fb-color);
  width: fit-content;
  padding: 8px 13px;
  border-radius: 12px;
  border: 1px solid var(--border-dark);
}

.flex {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* <=Tablet */
@media screen and (max-width: 959px) {
  .main {
    padding-top: 21px;
  }
  .content {
    padding: 21px 8px;
  }
}
