/*  */
/*  */
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 11px 0;
}

.topContent {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.mainArticleContainer {
  width: 49%;
}

/*  */
/*  */
.bottomContent {
  gap: 30px;
  padding: 34px 0;
  display: flex;
  justify-content: space-between;
}
.moreArticles {
  max-width: 793px;
}
.mixedArticles {
  max-width: 377px;
}

/*  Responsivness  */
/*  */
/*  */
/*  */
/* >= small desktop  */
@media screen and (min-width: 960px) {
  .moreArticles {
    padding: 0 11px;
  }
}
/* <=Tablet */
@media screen and (max-width: 959px) {
  .main {
    padding-top: 21px;
  }
  .container {
    padding: 11px 8px;
  }

  .bottomContent {
    flex-wrap: wrap;
    gap: 0;
  }
  .moreArticles {
  }

  .mixedArticles {
    max-width: 100%;
    margin-top: 55px;
    border-radius: 12px;
  }

  .moreArticles,
  .mixedArticles {
    width: 100%;
  }
  .topContent {
    padding: 0;
  }
}
/* <=phone */
@media screen and (max-width: 767px) {
  .moreArticles {
  }
  .topContent {
    gap: 0;
  }
  .bottomContent {
    padding: 0;
  }
  .mainArticleContainer {
    width: 100%;
  }
}
