.main {
  display: flex;
  flex-direction: column;
  min-height: 240px;
  max-width: 690px;
  margin-bottom: 21px;
  position: relative;
  height: 100%;
  box-shadow: 0px 0px 15px #0000000d;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
}

.main:hover h1 {
  text-decoration: underline;
  color: var(--orange);
}

.imageContainer {
  padding: 5px;
  border-radius: 8px;
  max-height: 500px;
  overflow: hidden;
}

.imageContainer img {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.titleContainer {
  min-width: 100%;
  padding: 16px 21px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 13px;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px);
}

.tagsContainer {
  border: 1px;
  display: flex;
  gap: 5px;
}

.tagsContainer span {
  padding: 0 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 5px;
}

.badge {
  border-radius: 16px;
  padding: 5px 16px;
  width: fit-content;
  color: #fff;
  background-color: var(--accent);
  font-size: 12px;
}

/*  Responsivness  */
/*  */
/*  */
/*  */
/* >= small desktop  */
@media screen and (min-width: 960px) {
}
/* <=Tablet */
@media screen and (max-width: 959px) {
  .main {
    max-width: 100%;
  }
  .imageContainer {
    border-radius: 0;
  }
}
/* <=phone */
@media screen and (max-width: 767px) {
  .main {
    border-radius: 0;
    box-shadow: 0px 0px 0px;
    border: none;
    min-height: 400px;
  }
  .imageContainer {
    border: none;
    order: 2;
    min-height: 328px;
    padding: 0;
  }
  .imageContainer img {
    border-radius: 0;
    border: none;
    min-width: 100%;
    height: auto;
    min-height: 328px;
  }

  .titleContainer {
    border: none;
    order: 1;
    position: unset;
    padding: 16px 0;
    backdrop-filter: unset;
  }

  .badge {
    order: 1;
    background-color: #fff;
    border: 1px dashed var(--accent);
    color: var(--accent);
    padding: 0 16px;
    border-radius: 5px;
  }

  .titleContainer h1 {
    order: 2;
  }
}
