.main {
  min-height: 470px;
  width: 690px;
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
  position: relative;
  box-shadow: 0 0 15px 2px #f2f2f2;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 8px;
  border: 1px solid var(--border-dark);
}

.main:hover h1 {
  text-decoration: underline;
}

.imageContainer {
  border: 1px solid var(--border);
  border-radius: 8px;
  min-height: 200px;
  max-height: 380px;
  overflow: hidden;
  background-color: #f2f2f2;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

/*  */
.titleContainer {
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 16px 21px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(13px);
  border-radius: 8px;
}

.tagsContainer {
  display: flex;
  gap: 5px;
}

.tagsContainer span {
  font-size: 12px;
  padding: 0 13px;
  background-color: #fff;
  border: 1px solid var(--gray-bg);
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 5px;
}

.badge {
  border-radius: 16px;
  padding: 5px 16px;
  width: fit-content;
  color: #fff;
  background-color: var(--accent);
  font-size: 12px;
}

/*  Responsivness  */
/*  */
/*  */
/*  */
/* >= small desktop  */
@media screen and (min-width: 960px) {
}
/* <=Tablet */
@media screen and (max-width: 959px) {
  .main {
    max-width: 100%;
    width: 100%;
  }
  .imageContainer {
    border-radius: 0;
  }
}
/* <=phone */
@media screen and (max-width: 767px) {
  .main {
    border-radius: 0;
    box-shadow: 0px 0px 0px;
    border: none;
    min-height: 400px;
    padding: 0;
  }
  .main:hover {
    border: none;
  }
  .main:hover h1 {
    text-decoration: none;
  }
  .imageContainer {
    border: none;
    order: 2;
    min-height: 328px;
    padding: 0;
  }
  .imageContainer img {
    border-radius: 0;
    border: none;
    min-width: 100%;
    height: auto;
    min-height: 328px;
  }

  .titleContainer {
    border: none;
    order: 1;
    position: unset;
    padding: 16px 0;
    backdrop-filter: unset;
  }

  .badge {
    order: 1;
    background-color: #fff;
    border: 1px dashed var(--accent);
    color: var(--accent);
    padding: 0 16px;
    border-radius: 5px;
  }

  .titleContainer h1 {
    order: 2;
  }
}
