.navigation {
  background-color: var(--nav-bg);
  color: #fff;
}

.navContainer {
  max-width: 1200px;
  margin-inline: auto;
}

.navTop,
.navBottom {
  flex-grow: 1;
  display: flex;
  padding: 0px 55px;
  align-items: center;
  justify-content: space-between;
}

.navTop {
  padding: 13px 55px 0 55px;
}

/* Top nav */
/* logo + social media */
.socialLinks {
  display: flex;
}

.logo {
  height: auto;
  width: 80px;
}

.logo img {
  width: 100%;
  height: auto;
}

.socialLinks a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 13px;
  transition: 0.2s all ease-in-out;
}

.socialLinks a:hover {
  opacity: 0.7;
  scale: 1.12;
  transform: rotateZ(-5deg);
}

.navTop a {
  max-height: 50%;
}

/* Bottom nav */
/* toggler + links */
.navBottom {
  align-items: flex-start;
  gap: 34px;
}

.navBottomLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  list-style: none;
  max-width: fit-content;
  height: auto;
  overflow: hidden;
  margin-inline: auto;
}

.navBottomLinks a {
  color: #ffffffdb;
  padding: 13px 13px 21px 13px;
  transition: 0.2s all ease-in-out;
  font-size: 13px;
}

.navBottom a:hover {
  color: #ffffff7c;
}

/*  Responsivness  */
/*  */
/*  */
/*  */
/* >= small desktop  */
@media screen and (min-width: 960px) {
}
/* <=Tablet */
@media screen and (max-width: 959px) {
  .navigation {
    display: none;
  }
}
/* <=phone */
@media screen and (max-width: 767px) {
}
