.main {
  border-top: 1px dotted var(--border-dark);
  display: flex;
  overflow: hidden;
  padding: 21px 0;
}

.noBorderTop {
  border-top: none;
}

.main:hover h1 {
  color: var(--secondary-text);
}

.cardTop {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cardTop p {
  color: var(--secondary-text);
  font-size: 12px;
}
.cardPunkt {
  width: 5px;
  height: 5px;
  border-radius: 44px;
  background-color: var(--orange);
}
.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  flex-grow: 1;
}

.titleContainer h1 {
  padding-right: 24px;
  font-size: 15px;
  font-weight: 600;
}

.titleContainerBadges {
  display: flex;
  align-items: center;
}

.badge {
  margin-left: 5px;
  width: fit-content;
  padding: 0 12px;
  color: var(--accent);
  background-color: var(--accent-light);
  border-radius: 8px;
  font-size: 11px;
}

/*  Responsivness  */
/*  */
/*  */
/*  */
/* >= small desktop  */
@media screen and (min-width: 960px) {
}
/* <=Tablet */
@media screen and (max-width: 959px) {
  .main {
    max-width: 100%;
  }
  .imageContainer {
    width: 150px;
  }
  .imageContainer img {
    height: 80px;
    border: none;
  }
}
/* <=phone */
@media screen and (max-width: 767px) {
  .imageContainer {
    width: 100px;
  }
  .imageContainer img {
    height: 60px;
  }
  .titleContainer {
    padding: 16px;
  }
}
