/* reserve space on top of the page  */
.navContainer {
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
}

/* flying nav */
.nav {
  width: 90%;
  min-width: 300px;
  max-width: 400px;
  min-height: 50px;
  color: #000;
  background-color: rgba(237, 237, 237, 50%);
  padding: 0 12px 0 21px;
  border-radius: 28px;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 10px;
  border: 1px solid var(--border-dark);
}

.navTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.navTop button {
  background-color: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 21px 34px;
  height: 100%;
  /* border: 1px solid; */
}

.menuButtonBurger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuButtonBurger::after,
.menuButtonBurger::before {
  content: '';
  width: 34px;
  height: 3px;
  border-radius: 5px;
  background-color: #1c4162;
  transition: all 0.1s ease-in-out;
  position: absolute;
}

.menuButtonBurger::before {
  transform: translateY(-4px);
}
.menuButtonBurger::after {
  transform: translateY(4px);
}

.moveBurgers .menuButtonBurger::before {
  transform: rotate(45deg);
}

.moveBurgers .menuButtonBurger::after {
  transform: rotate(-45deg);
}
.menuButtonBurgerOpened::before,
.menuButtonBurgerOpened::after {
  background-color: var(--orange);
}

.homePageLink {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navLogoImage,
.navToggleImage {
  /* border: 1px solid red; */
  height: 100%;
  width: auto;
}

.navLogoImage {
  width: 100%;
  max-width: 70px;
  height: auto;
}

.drawerLinks {
  flex-direction: column;
}

.drawerLinks li {
  display: block;
  width: 100%;
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 1;
}
.drawerLinks li a {
  display: block;
  padding: 8px;
  font-size: 18px;
  font-weight: 500;
}

.kid {
  padding: 21px 12px 21px 21px;
  list-style: none;
  /* border: 1px solid; */
}

/* at close prevent pointer */
.pointerNone {
  pointer-events: none;
}

.socialLinks {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialLinks a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 21px;
  transition: 0.2s all ease-in-out;
}

@media screen and (min-width: 960px) {
  .navContainer {
    display: none;
  }
}
/* <=Tablet */
@media screen and (max-width: 959px) {
}
/* <=phone */
@media screen and (max-width: 767px) {
  .navContainer {
    padding: 20px;
    padding-bottom: 0;
  }
}
