.main {
  border-top: 1px dotted var(--border-dark);
  display: flex;
  max-width: 793px;
  overflow: hidden;
}

.noBorderTop {
  border-top: none;
}

.imageContainer {
  padding: 16px 0;
  overflow: hidden;
  width: 150px;
  height: 110px;
  flex-shrink: 0;
  border-left: 1px dashed var(--border);
}

.imageContainer img {
  border: 1px solid var(--border-dark);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 13px;
  justify-content: flex-start;
  padding: 16px 21px;
  flex-grow: 1;
}

.titleContainerBadges {
  display: flex;
  align-items: center;
  gap: 13px;
}

.titleContainerBadges img {
  width: auto;
  max-height: 18px;
}

.tagsContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tagsContainer span {
  font-size: 12px;
  padding: 0 13px;
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 5px;
}

.badge {
  border-radius: 16px;
  padding: 8px 16px;
  width: fit-content;
  color: var(--accent);
  background-color: var(--accent-light);
  font-size: 12px;
}

/*  Responsivness  */
/*  */
/*  */
/*  */
/* >= small desktop  */
@media screen and (min-width: 960px) {
}
/* <=Tablet */
@media screen and (max-width: 959px) {
  .main {
    max-width: 100%;
  }
  .imageContainer {
    width: 150px;
  }
  .imageContainer img {
    height: 80px;
    border: none;
  }
}
/* <=phone */
@media screen and (max-width: 767px) {
  .imageContainer {
    width: 100px;
  }
  .imageContainer img {
    height: 60px;
  }
  .titleContainer {
    padding: 16px;
  }
}
