.main {
  border-top: 1px dotted var(--border-dark);
  display: flex;
  max-width: 477px;
  overflow: hidden;
}

.noBorderTop {
  border-top: none;
}

.main h1 {
  font-weight: 400;
  font-size: 15px;
}

.imageContainer {
  padding: 16px 0;
  overflow: hidden;
  width: 150px;
  height: 110px;
  flex-shrink: 0;
  border-left: 1px dashed var(--border);
}

.imageContainer img {
  border: 1px solid var(--border-dark);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 13px;
  justify-content: flex-start;
  padding: 16px 21px;
  flex-grow: 1;
}

.titleContainerBadges {
  display: flex;
  align-items: center;
}

.badge {
  color: var(--secondary-text);
  width: fit-content;
  padding: 2px 12px;
  color: var(--accent);
  border: 1px dotted var(--accent);
  font-size: 12px;
}
