.footer {
  color: #fff;
  padding: 55px 24px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) left bottom #102039 no-repeat;
  background-size: 100% 3px;
}

.footerLinks {
  display: flex;
  gap: 24px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.footerLinks a:hover {
  text-decoration: underline;
}

.footerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerLogo img {
  width: 34px;
  height: auto;
}

.footerLogoSlug {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.versionComponent {
  font-size: 11px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #1e1e1e;
  padding: 3px 13px;
}
