.articlesList {
}

.readMoreBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 21px;
}
.readMoreBtn {
  display: block;
  max-width: fit-content;
  background-color: var(--foreground);
  color: #fff;
  padding: 5px 21px;
  border-radius: 34px;
}
.readMoreBtn:hover {
  background-color: var(--foreground-hover);
}

.sectioTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 13px;
}

.sectioTitle a {
  color: var(--secondary);
  font-weight: 600;
  font-size: 21px;
}

/* <=Tablet */
@media screen and (max-width: 959px) {
  .sectioTitle,
  .articlesList {
    padding: 0 13px;
  }
  .sectioTitle {
    margin-top: 45px;
    margin-bottom: 13px;
  }

  .readMoreBtnContainer {
    padding-bottom: 34px;
    text-align: center;
    padding: 12px;
    margin-bottom: 21px;
  }
}

@media screen and (max-width: 767px) {
  .readMoreBtn {
    min-width: 100%;
  }
}
